.logo-icon img {
    width: 50px;
}

.table thead {
    background-color: rgba(46, 44, 44, 0.678) !important;
    color: white;
    font-weight: bold;
}

.form-action-btn {
    width: 140px !important;
}

.action-btn {
    width: 90px !important;
}

.card-err {
    background-color: rgba(235, 231, 231, 0.87) !important;
}

#preview-image-before-upload img {
    max-width: 400px !important;
    width: 400px;
}

.admin-action-btn{
    width: 130px !important;
}

.card.test-bg {
    box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  border-radius: 6px;
  background-color: rgba(187, 216, 216, 0.945);
  background-size: cover;
  border: 0;
  color: black;
  box-shadow: none;
  padding: 2.112rem 3.25rem;
}

/* profile update form css*/
.profile-update-form {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    justify-content: center;
    align-items: center;
}

.form-check-input {
    opacity: 1 !important;
}
