.box {
    float: left;
    padding: 50px 0px;
}

.clearfix::after {
    clear: both;
    display: table;
}

.options {
    margin: 5px 0px 0px 0px;
    float: left;
}

.pagination {
    float: right;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.tabler {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 20%);
    border-radius: 2px;
}

.tabler .table {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 10%);
    border-radius: 2px;
}

.tabler .table th {
    padding: 20px 10px !important;
    min-width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    border-right: 1px solid #EBEEF5;
    border: 2px solid #EBEEF5;
}

.tabler .table td {
    padding: 12px 10px !important;
    min-width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    border-right: 1px solid #EBEEF5;
    border: 2px solid #EBEEF5;
}

.tabler .table>:not(:first-child) {
    border-top: 0;
}

ul.footerrr {
    list-style: none;
    padding-left: 0;
}

ul.footerrr li a {
    text-decoration: none !important;
    color: #fff;
}